<% layout('submodel.ejs') -%>

<h1>Status</h1>
<table class="table table-condensed table-striped">
  <tr>
    <th style="width: 20%;">Name</th>
    <th style="width: 10%;">Status</th>
    <th style="width: 10%;">Fingerprint</th>
    <th style="width: 50%;">udid2</th>
  </tr>
  <% for(var i = 0; i < status.length; i++){ %>
  <% var st = status[i].status %>
  <% var trClass = st == 'JOIN' ? 'success' : (st == 'LEAVE' ?  'danger' : ''); %>
  <tr class="<%= trClass %>">
    <td style="font-family: fixed,courier"><%= status[i].key.name %></td>
    <td style="font-family: fixed,courier"><%= st %></td>
    <td style="font-family: fixed,courier">0x<%= status[i].key.fingerprint.substring(32) %></td>
    <td style="font-family: fixed,courier"><%= status[i].key.comment %></td>
  </tr>
  <% } %>
</table>
