<!DOCTYPE html>
<html>
  <head>
    <title>ucoin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <!-- <script src="js/respond.js"></script> -->
    
    <div class="navbar" style="background-color: white; margin-top: 10px;">
      <div class="container">
        <a href="#" class="navbar-brand">ucoin</a>
        <ul class="nav navbar-nav nav-pills">
          <li class="active"><a href="/" class="glyphicon glyphicon-home">&nbsp;&nbsp;Home</a></li>
          <li><a href="/pks" class="glyphicon glyphicon-user">&nbsp;&nbsp;PKS</a></li>
          <li class="disabled"><a href="#" class="glyphicon glyphicon-globe">&nbsp;&nbsp;Peers</a></li>
          <li class="disabled"><a href="#" class="glyphicon glyphicon-list-alt">&nbsp;&nbsp;Amendments</a></li>
          <li class="disabled"><a href="#" class="glyphicon glyphicon-retweet">&nbsp;&nbsp;Transactions</a></li>
        </ul>
        <% if(auth){ %>
          <h3 class="pull-right"><span class="label label-success">signed responses (secure mode)</span></h3>
        <% } else { %>
          <h3 class="pull-right"><span class="label label-warning">unsigned responses (fast mode)</span></h3>
        <% } %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="nav list-group" style="background-color: #f7f5fa;">
            <a href="/" class="list-group-item glyphicon glyphicon-signal">&nbsp;&nbsp;Statistics</a>
            <a href="" class="list-group-item active glyphicon glyphicon-ok-sign">&nbsp;&nbsp;Capabilities</a>
          </div>
        </div>
        <div class="col-lg-9">
          <h1>Capabilities</h1>
          <% var count = 0; %>
          <% for(var i = 0; i < caps.length; i++){ %>
            <% var cap = caps[i]; %>
            <h3><%= cap.title %></h3>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th style="width: 10%;">#</th>
                  <th style="width: 60%;">Capability</th>
                  <th style="width: 20%;">Status</th>
                  <th style="width: 10%;"></th>
                </tr>
                <% for(var j = 0; j < cap.values.length; j++){ %>
                <% var count = count + 1; %>
                <% var val = cap.values[j]; %>
                <% var trClass = val.level == 2 ? 'success' : (val.level == 1 ?  'warning' : ''); %>
                <% var sign = val.level == 2 ? 'ok-sign' : (val.level == 1 ?  'plus-sign' : 'minus-sign'); %>
                <% var status = val.level == 2 ? 'Done' : 'Under construction'; %>
                <tr class="<%= trClass %>">
                  <td><%= count %></td>
                  <td><%= val.cap %></td>
                  <td><%= status %></td>
                  <td><span class="glyphicon glyphicon-<%= sign %>"></span></td>
                </tr>
              <% } %>
              </tbody>
            </table>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>