<% layout('submodel.ejs') -%>

<h1>Currency</h1>
<table class="table">
  <tr>
    <th style="width: 30%;">Field</th>
    <th style="width: 30%;">Current</th>
    <th style="width: 40%;">Pending</th>
  </tr>
  <tr>
    <td>Name</td>
    <td><span class="text-info"><strong><%= currency %></strong></span></td>
    <td></td>
  </tr>
  <tr>
    <td>Community</td>
    <td>
      <button type="button" class="btn btn-primary btn-xs"><%= membersCount %> members</button>
    </td>
    <td>
      <button type="button" class="btn btn-info btn-xs"><%= membersCount %> actualizing</button>
      <button type="button" class="btn btn-success btn-xs"><%= membersCount %> joining</button>
      <button type="button" class="btn btn-danger btn-xs"><%= membersCount %> leaving</button>
    </td>
  </tr>
  <tr>
    <td>Contract</td>
    <td>
      <button type="button" class="btn btn-primary btn-xs"><%= amendmentsCount %> amendments</button>
    </td>
    <td>
      <button type="button" class="btn btn-info btn-xs"><%= amendmentsPending %> pending</button>
    </td>
  </tr>
  <tr>
    <td>Transactions</td>
    <td>
      <button type="button" class="btn btn-primary btn-xs"><%= transactionsCount %> recorded</button>
    </td>
    <td></td>
  </tr>
</table>
<h1>Host</h1>
<table class="table">
  <tr>
    <th style="width: 30%;">Field</th>
    <th style="width: 70%;">Value</th>
  </tr>
  <tr>
    <td>Remote host</td>
    <td><%= remotehost ? remotehost : 'None' %></td>
  </tr>
  <tr>
    <td>Remote port</td>
    <td><%= remoteport ? remoteport : 'None' %></td>
  </tr>
  <tr>
    <td>Key fingerprint</td>
    <td><%= fingerprint ? fingerprint : 'None' %></td>
  </tr>
  <tr>
    <td>Peers</td>
    <td>
      <button type="button" class="btn btn-primary btn-xs"><%= peers ? peers.length : '0' %> connected</button>
    </td>
  </tr>
</table>
