<% layout('submodel.ejs') -%>

<h1>Currency</h1>
<table class="table">
  <tr>
    <th style="width: 30%;">Field</th>
    <th style="width: 24%;">Current</th>
    <th style="width: 23%;"></th>
    <th style="width: 23%;"></th>
  </tr>
  <tr>
    <td>Name</td>
    <td><span class="text-info"><strong><%= currency %></strong></span></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Monetary Mass</td>
    <td><span class="label label-success"><strong><%= MMass %> BB</strong></span></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Last Dividend</td>
    <td>
      <span class="label label-success"><strong><%= LastUD %> BB</strong></span>
       to 
      <span class="label label-success"><strong><%= LastMembers %> members</strong></span>
    </td>
    <td>
       <span class="label label-default"><strong>~<%= ((LastUD * LastMembers)/MMass*100).toFixed(0) %> %growth</strong></span>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>Community</td>
    <td>
      <a href="/community/current" class="btn btn-primary btn-xs"><%= membersCount %> members</a>
      <% if(membersJoining > 0) { %>
      <a href="/community/current" class="btn btn-success btn-xs">+<%= membersJoining %></a>
      <% } %>
      <% if(membersLeaving > 0) { %>
      <a href="/community/current" class="btn btn-danger btn-xs">-<%= membersLeaving %></a>
      <% } %>
    </td>
    <td>
      <a href="/community/voters" class="btn btn-primary btn-xs"><%= votersCount %> voters</a>
      <% if(votersJoining > 0) { %>
      <a href="/community/voters" class="btn btn-success btn-xs">+<%= votersJoining %></a>
      <% } %>
      <% if(votersLeaving > 0) { %>
      <a href="/community/voters" class="btn btn-danger btn-xs">-<%= votersLeaving %></a>
      <% } %>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>Contract</td>
    <td>
      <a href="/contract/current" class="btn btn-primary btn-xs"><%= amendmentsCount %> amendments</a>
    </td>
    <td>
      <a href="/contract/pending" class="btn btn-info btn-xs"><%= amendmentsPending %> pending</a>
    </td>
    <td></td>
  </tr>
</table>
<h1>Monetary rules</h1>
<table class="table">
  <tr>
    <th style="width: 30%;">Field</th>
    <th style="width: 24%;"></th>
    <th style="width: 23%;"></th>
    <th style="width: 23%;"></th>
  </tr>
  <tr>
    <td>Amendments</td>
    <td>Start: <span class="label label-default"><%= AMStart %></span></td>
    <td>Frequency: <span class="label label-default"><%= AMFreq %></span></td>
    <td></td>
  </tr>
  <tr>
    <td>Universal Dividend</td>
    <td>Minimum: <span class="label label-default"><%= UD0 %></span></td>
    <td>Frequency: <span class="label label-default"><%= UDFreq %></span></td>
    <td>%Growth: <span class="label label-default"><%= UDPercent %></span></td>
  </tr>
</table>
<h1>Host</h1>
<table class="table">
  <tr>
    <th style="width: 30%;">Field</th>
    <th style="width: 70%;">Value</th>
  </tr>
  <tr>
    <td>Key fingerprint</td>
    <td><%= fingerprint ? fingerprint : 'None' %></td>
  </tr>
  <tr>
    <td>Endpoints</td>
    <td style="font-family: courier">
      <% for(var i = 0; i < endpoints.length; i++){ %>
      <%= endpoints[i] %>
      <% } %>
    </td>
  </tr>
  <tr>
    <td>Peers</td>
    <td>
      <a class="btn btn-primary btn-xs"><%= peers ? peers.length : '0' %> connected</a>
    </td>
  </tr>
</table>
