<% layout('submodel.ejs') -%>
<% script('/js/beautify.js') -%>

<h1>Contract</h1>

<div class="panel-group" id="accordion">
  <% if(amendments.length == 0){ %>
  <div class="alert alert-warning">
    <strong>Contract is currently empty!</strong> it will be initialized once a vote is received.
  </div>
  <% } %>
  <% for(var i = 0; i < amendments.length; i++){ %>
  <% var am = amendments[i] %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a style="font-family: courier" href="#collapse<%= i+1 %>" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">#<%= am.number %>-<%= am.hash %></a>
      </h3>
    </div>
    <div class="panel-collapse collapse <%= i == 0 ? 'in': '' %>" id="collapse<%= i+1 %>">
      <div class="panel-body">
        <table class="table table-striped table-condensed">
          <tr>
            <th width="30%">Field</th>
            <th width="70%">Value</th>
          </tr>
          <tr>
            <td>Version</td>
            <td><%= am.version %></td>
          </tr>
          <tr>
            <td>Currency</td>
            <td><%= am.currency %></td>
          </tr>
          <tr>
            <td>Number</td>
            <td>#<%= am.number %></td>
          </tr>
          <tr>
            <td>Generated on</td>
            <td id="generatedon"><%= am.generated %></td>
          </tr>
          <tr>
            <td>Universal Dividend</td>
            <td>
              <% if(am.dividend){ %>
                <div class="label label-success"><%= am.dividend %></div>
              <% } else { %>
                <span class="label label-warning">none</span>
              <% } %>
            </td>
          </tr>
          <tr>
            <td>Coin minimal power</td>
            <td>
              <% if(am.coinMinPower){ %>
                <div class="label label-info"><%= am.coinMinPower %></div>
              <% } else { %>
                <span class="label label-warning">none</span>
              <% } %>
            </td>
          </tr>
          <tr>
            <td>Next required votes</td>
            <td style="font-family: fixed,courier"><%= am.nextVotes %></td>
          </tr>
          <tr>
            <td>Members root</td>
            <td style="font-family: fixed,courier"><%= am.membersRoot %></td>
          </tr>
          <tr>
            <td>Previous hash</td>
            <td>
              <% if(am.previousHash){ %>
                <span style="font-family: fixed,courier"><%= am.previousHash %></span>
              <% } else { %>
                <span class="label label-warning">none</span>
              <% } %>
            </td>
          </tr>
          <tr>
            <td>Members count</td>
            <td><%= am.membersCount %></td>
          </tr>
          <tr>
            <td>Members changes</td>
            <td>
              <% if(am.membersChanges == 0){ %>
                <span class="label label-warning">none</span>
              <% } %>
              <% for(var j=0; j < am.membersChanges.length; j++){ %>
              <% var change = am.membersChanges[j] %>
              <% if(change[0] == '+'){ %>
                <span style="font-size: 11px;" class="label label-success"><%= change %></span>
              <% } else { %>
                <span style="font-size: 11px;" class="label label-danger"><%= change %></span>
              <% } %>
              <br>
              <% } %>
            </td>
          </tr>
          <tr>
            <td>Voters root</td>
            <td>
              <% if(am.votersRoot){ %>
                <span style="font-family: fixed,courier"><%= am.votersRoot %></span>
              <% } else { %>
                <span class="label label-warning">none</span>
              <% } %>
            </td>
          </tr>
          <tr>
            <td>Voters count</td>
            <td><%= am.votersCount %></td>
          </tr>
          <tr>
            <td>Voters changes</td>
            <td style="font-family: fixed,courier">
              <% if(am.votersChanges == 0){ %>
                <span class="label label-warning">none</span>
              <% } %>
              <% for(var j=0; j < am.votersChanges.length; j++){ %>
              <% var change = am.votersChanges[j] %>
              <% if(change[0] == '+'){ %>
                <span style="font-size: 11px;" class="label label-success"><%= change %></span>
              <% } else { %>
                <span style="font-size: 11px;" class="label label-danger"><%= change %></span>
              <% } %>
              <br>
              <% } %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <% } %>
</div>